/* .navbar{
    display: flex;
   flex-direction: row;
   text-align: right;
   justify-content: right;
   padding-right: 20px;
vertical-align: center;
    
}

.navbar img{
    margin-left: 10px;
}

.navbar button{
    width: 100px;
    height: 35px;
    margin-left: 10px;
    background-color: rgb(19, 124, 236);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.main{
    width: auto;
    text-align: center;
    margin-top: 150px;
    position: relative;
    
}

.main .searchbox{
  margin-top: 20px;
  width: 100%;
}

.main .searchbox .search{
    width: 30%;
    height: 30px;
    border-radius: 30px;
    border-style: transparent;
    border-color: rgb(237, 226, 226);
   
}

.main .searchbox .search .icons{
    position: absolute;
    padding-left: 10px;
}

.main .searchbox .search .icons .search-button{
    position: absolute;
    
    left: -10px;
} */



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar{
    display: flex;
   text-align: right;
   justify-content: flex-end;
   padding-right: 20px;
vertical-align: center;
    
}

.navbar a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.87);
    cursor: pointer;
    padding: 5px 6.7px;
}

.navbar a:hover{
    text-decoration: underline;
    opacity: .85;

}

.navbar img{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}

.navbar img:hover{
    opacity: .8;
}

.navbar button{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: white;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}

.main{
    flex: 1;
}

.main .logo{
    display: block;
    margin: 0px auto;
    margin-top: 107px;
}

.main .searchbox{
    width: 580px;
    margin: 0px  auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}

.searchbox .search{
    display: block;
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
}

.searchbox .search:hover{
    border: 1px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.85),
    0 0 2px rgba(0, 0, 0, 0.85),
    0 0 3px rgba(0, 0, 0, 0.85),
    0 0 4px rgba(0, 0, 0, 0.85),
    0 0 5px rgba(0, 0, 0, 0.85),
    0 0 4px rgba(0, 0, 0, 0.85),
    0 0 5px rgba(0, 0, 0, 0.85), ;
}

.searchbox .search-button{
    width: 20px;
    opacity: .4px;
    position: absolute;
    top: 13px;
    left: 14px;
}

.searchbox .speaker-icon{
    width: 32px;
    position: absolute;
    top: 13px;
    right: 50px;

}

.searchbox .camera-icon{
    width: 20px;
    position: absolute;
    top: 13px;
    right: 25px;
}

.s-btn{
    border: none;
    padding: 9px 15px;
    color: #666;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;

}

.s-btn:hover{
    border: 1px solid #aaa;
}

.lang{
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #111;
}

.lang a{
    margin-left: 5px;
    color: #1a0dab;
}

.lang a:hover{
    text-decoration: underline;
}

footer{
    background-color: #f2f2f2;
}

footer h4{
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    line-height: 39.5px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;

}

footer a{
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
}

footer a:hover{
    text-decoration: underline;
}

.links{
    border-top: 1px solid #ddd;
   display: flex;
}

.link-1{
    padding-left: 18.7px;
    flex: 1;
}

.link-2{
    padding-right: 18.7px;
 
}